#calc-display,
.row,
#calculator,
body {
	display: flex;
}

body {
	height: 100dvh;
	background-color: aquamarine;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

body > h1 {
	background-color: #cb94ff;
	color: aliceblue;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

#calculator {
	background-color: coral;
	flex-direction: column;
	height: 400px;
	width: 500px;
	padding: 0.2em;
	box-shadow: 0px 0px 20px black;
}

#calc-display {
	background-color: aliceblue;
	flex: 1;
	/* text-align: right; */
	flex-direction: column;
}

#history {
	margin-top: 0;
}

#text {
	text-align-last: end;
	text-justify: auto;
	margin-bottom: 0;
	margin-top: auto;
	font-size: xx-large;
}

#buttons {
	background-color: burlywood;
	flex: 3;
}

.row {
	flex: 1;
	height: 20%;
}

.btn {
	flex: 1;
	font-size: x-large;
}

.numBtn {
	background-color: burlywood;
	color: firebrick;
}

.oprBtn {
	background-color: powderblue;
}
.oprBtn:disabled {
	background-color: #55929a;
	border-style: inset;
}

.btn:hover:enabled {
	border-style: inset;
}

#oprSign,
#oprDeci {
	background-color: coral;
	color: floralwhite;
}
#oprDel,
#oprClr {
	background-color: lemonchiffon;
	color: mediumpurple;
}

#oprDeci:disabled {
	border-style: inset;
	background-color: #ff9c78;
  }

footer {
	background-color: black;
	color: beige;
	width: 100%;
	text-align: center;
	padding: 1em 0;
}
